# Import Pandas

In [3]:
import pandas as pd

# Importing Data

In [40]:
# Set the option to display all rows
pd.set_option("display.max_rows", None)

# Define column names
names = ["id", "title", "year", "rating", "votes", "length", "genres"]

# Combine the code into a single variable named 'data'
data = pd.read_csv("imdb_top_10000.txt", sep="\t", names=names, index_col=0)

# Exploring our data

In [41]:
data.head()

,title,year,rating,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

In [47]:
data.head(10)

,title,year,rating,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller
tt0109830,Forrest Gump (1994),1994,8.7,368994,142 mins.,Comedy|Drama|Romance
tt0169547,American Beauty (1999),1999,8.6,338332,122 mins.,Drama
tt0499549,Avatar (2009),2009,8.1,336855,162 mins.,Action|Adventure|Fantasy|Sci-Fi
tt0108052,Schindler's List (1993),1993,8.9,325888,195 mins.,Biography|Drama|History|War
tt0080684,Star Wars: Episode V - The Empire Strikes Back...,1980,8.8,320105,124 mins.,Action|Adventure|Family|Sci-Fi

In [45]:
data.tail()

,title,year,rating,votes,length,genres
id,,,,,,
tt0807721,Meduzot (2007),2007,7.0,1357,78 mins.,Drama
tt0339642,Daltry Calhoun (2005),2005,5.2,1357,100 mins.,Comedy|Drama|Music|Romance
tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   10000 non-null  object
 1   year    10000 non-null  int64
 2   rating  10000 non-null  float64
 3   votes   10000 non-null  int64
 4   length  10000 non-null  object
 5   genres  9999 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 546.9+ KB

In [46]:
data.describe()

               year        rating          votes
count  10000.000000  10000.000000   10000.000000
mean    1993.472800      6.386070   16604.012800
std       14.829924      1.189933   34563.459698
min     1950.000000      1.500000    1356.000000
25%     1986.000000      5.700000    2333.750000
50%     1998.000000      6.600000    4980.500000
75%     2005.000000      7.200000   15277.750000
max     2011.000000      9.200000  619479.000000

In [49]:
# data (shows whole data - 10k in this case)

# Exporting Data

In [50]:
data.to_csv("data_analysis1.csv", header=True, index=True, sep=",") # export it as a CSV file